.cart {
  text-align: center;
  max-width: 30rem;
  height: 7rem;
  width: 80%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.cartContent {
  display: inline-grid;
  float: left;
}

.name {
  font-size: 14px;
  margin-top: -2px;
  max-width: 60px;
}

.amount {
  margin-top: 18px;
  font-weight: bold;
  font-size: 18px;
  max-width: fit-content;
  margin-left: -5px;
}

.price1 {
    float: right;
    margin-top: 32px;
    font-weight: bold;
    font-size: 20px;
}

.price button {
    float: right;
    margin-top: 5.5rem;
    margin-right: -2.5rem;
    padding: 5px 12px;
    border-radius: 14px;
    
}

.button1 {
   margin-left: 5rem;
   background-color: #8a2b06;
   color: white;
   border: none;
   cursor: pointer;
}


.button2 {
    background-color: white;
    color: #8a2b06;
    border: 1px solid #8a2b06;
   cursor: pointer;
    
 }

 .button2:hover {
    background-color: #8a2b06;
    color: white;
    border: none;
 }